.button {
    background: var(--primary-color);
    opacity: 0.8;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.button:hover {
    background: var(--primary-color);
    opacity: 1;
}